img.before {
    float: left;
    max-width: 50%;
}
img.after {
    /*float: right;*/
    max-width: 50%;
}

form.frm_btns_run {
    display: inline-block;
}
fieldset.fldst_btns_run {
    float: left;
    display: inline;
}
